<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email">
    @if (authForm.get('email')?.invalid && authForm.get('email')?.touched) {
      <div class="form-control-error-label">
        Email invalide
      </div>
    }
  </div>

  <div class="form-control">
    <label for="password">Mot de passe</label>
    <input id="password" formControlName="password" type="password">
    @if (authForm.get('password')?.invalid && authForm.get('password')?.touched) {
      <div class="form-control-error-label">
        Mot de passe invalide (min 6 caractères)
      </div>
    }
  </div>

  <button type="submit" class="button-md button-action" [disabled]="authForm.invalid">Se connecter</button>
</form>
