:root {
  --color-main-1: #0c0c0c;
  --color-main-2: #fefefe;

  --color-accent-red-1: #ff3636;

  --color-neutral-1: #f8f8f8;
  --color-neutral-2: #c4c4c4;

  --color-blue-1: #a6a6f8;
  --color-blue-2: #6666de;
  --color-blue-3: #2f2fe9;
}