.form-control {
  margin-bottom: 16px;

  > input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 0.25rem;
    outline: none;
    border: solid 1px var(--color-neutral-2);

    &:focus-visible {
      border-color: var(--color-blue-2);
    }
  }
}

.form-control, .form-control > * {
  display: block;
}

.form-control-error-label {
  font-size: 0.75rem;
  color: var(--color-accent-red-1);
}

.button-action {
  background-color: var(--color-blue-3);
  color: var(--color-main-2);

  &:disabled {
    filter: opacity(0.5);
  }
}
.button-md {
  padding: 12px;
  border-radius: 12px;
  border: none;
}